h2{
    padding: 10px;
}
.table{
    width: 70vw;
    position: relative;
    margin: auto;
    box-shadow: 5px 5px 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add{
    margin-right: 7vw;
}