<h2>Flight Trips</h2>
<!-- 
{{flightTripsList | json}} -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">FLight Trip Id</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
      <th scope="col">Filled Seats</th>
      <th scope="col">Ticket Price</th>
      <th scope="col">Status</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
      <th scope="col" style="width: 15%;">View Bookings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flightTrip of getCurrentPageItems()">
      <td>{{ flightTrip.flightTripId }}</td>
      <td>{{ flightTrip.source }}</td>
      <td>{{ flightTrip.destination }}</td>
      <td>{{ flightTrip.departure | date : 'MMM d, y, h:mm a'}}</td>
      <td>{{ flightTrip.arrival | date : 'MMM d, y, h:mm a'}}</td>
      <td>{{ flightTrip.filledSeats }}</td>
      <td>{{ flightTrip.ticketPrice | currency : 'INR' : 'symbol' }}</td>
      <td>{{ flightTrip.status }}</td>
      <td>
        <button *ngIf="flightTrip.status !== 'Cancelled'" mat-icon-button (click)="openEditForm(flightTrip.flightTripId)">
          <mat-icon>edit</mat-icon>
        </button>
              </td>
      <td>
        <button *ngIf="flightTrip.status !== 'Cancelled'" mat-icon-button (click)="cancelFlightTrip(flightTrip.flightTripId)"><mat-icon>delete</mat-icon></button>
      </td>
      <td>
        <button
          mat-flat-button
          (click)="simulateClick(flightTrip.flightTripId)">View Bookings</button>
      </td>
    </tr>
  </tbody>
</table>

<mat-paginator
  class="table"
  [pageSize]="5"
  [length]="totalItems"
  showFirstLastButtons
  (page)="onPageChange($event)"></mat-paginator>

