<div class="sidebar">
    <h2>Dashboard</h2>
    <div class="buttons">
        <div class="button">
            <a (click)="setSelected('airports')">Manage Airports</a>
        </div>
        <div class="button">
            <a (click)="setSelected('airlines')">Manage Airlines</a>
        </div>
        <div class="button">
            <a (click)="setSelected('flight-owners')">Manage Flight Owners</a>
        </div>
        <div class="button">
            <a (click)="setSelected('customers')">Manage Customers</a>
        </div>
    </div>
</div>
