<app-navbar></app-navbar>
<!-- <button type="button" routerLink="/home">Login
</button> -->
<!-- <app-customer-dashboard></app-customer-dashboard> -->
<!-- <app-homepage></app-homepage> -->
<router-outlet></router-outlet>
<!-- <app-search-flight></app-search-flight> -->
<!-- 
<ul>
    <li><a routerLink="/admin/" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a></li>
    <li><a routerLink="/flight-owner" routerLinkActive="active" ariaCurrentWhenActive="page">Flight Owner</a></li>
    <li><a routerLink="/customer" routerLinkActive="active" ariaCurrentWhenActive="page">Customer</a></li>
</ul> -->
