<div class="sidebar">
    <h2>Dashboard</h2>
    <div class="buttons">
        <div class="button">
            <a (click)="setSelected('search-flights')">Search Flights</a>
        </div>
        <div class="button">
            <a (click)="setSelected('bookings')">Manage Bookings</a>
        </div>
        <!-- <button type="button" (click)="setSelected('flight-owners')">Manage Flight Owners</button>
        <button type="button" (click)="setSelected('customers')">Manage Customers</button> -->
    </div>
</div>
