<h2>Customers</h2>
<input type="text" placeholder="Search" [(ngModel)]="searchText" class="search-input" (input)="onSearch()">
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col">Age</th>
      <th scope="col">Bookings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of getCurrentPageItems()  ; let i = index">
      <td>{{i+1}}</td>
      <td>{{ customer.username }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.contact }}</td>
      <td>{{ customer.age }}</td>
      <td><button mat-flat-button (click)="viewAllBookings(customer.username)">View Bookings</button></td>
    </tr>
  </tbody>
</table>
<mat-paginator
  class="table"
  [pageSize]="pageSize"
  [length]="totalItems"
  showFirstLastButtons
  (page)="onPageChange($event)"
></mat-paginator>