<p>select-seats works!</p>
{{vacantSeats.length}}
<div class="page">
    <!-- <div *ngFor="let column of leftColumns">
      <div class="row-label">{{ column.name }}</div>
      <div *ngFor="let row of getColumnCountArray(column.rows)" class="box">
        <a id="{{ row + 1 }}{{ column.name }}" (click)="selectSeat($event)">
            <div class="seat"  [ngStyle]="{ 'background-color': isSelected[(row + 1)+column.name] ? 'green' : 'white' }">
                <span> {{ seat.seatNo }} </span>
            </div>
        </a>
      </div>
    </div>

    <div *ngFor="let column of rightColumns">
      <div class="row-label">{{ column.name }}</div>
      <div *ngFor="let row of getColumnCountArray(column.rows)" class="box">
        <a id="{{ row + 1 }}" (click)="selectSeat($event)">
          <div class="seat"  [ngStyle]="{ 'background-color': isSelected[(row + 1)+column.name] ? 'green' : 'white' }">
            <span> {{ row + 1 }}{{ column.name }} </span>
          </div>
        </a>
      </div>
    </div> -->



    <div class="grid-container">
      <div id="left-container">
        <div *ngFor="let row of leftRows">
          <div class="row-label">{{ row.name }}</div> <br>
          <div *ngFor="let seat of getSeatsByRow(row.name)" class="box">
            <a (click)="selectSeat($event)"  id="{{seat.seatNo}}" >
              <div class="seat" id="{{seat.seatNo}}" [ngStyle]="{ 'background-color': isSelected[seat.seatNo] ? 'green' : 'white' }">
                <span>{{seat.seatNo}} {{seat.status}}</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="right-container">
        <div *ngFor="let row of rightRows">
          <div class="row-label">{{ row.name }}</div> <br>
          <div *ngFor="let seat of getSeatsByRow(row.name)" class="box">
            <a (click)="selectSeat($event)" [ngClass]="{'disabled': seat.status === 'Booked'}">
              <div class="seat"  
              [ngStyle]="{ 'background-color': seat.status === 'Booked' ? 'grey' : isSelected[seat.seatNo] ? 'green' : 'white' }">
                <span>{{seat.seatNo}} {{seat.status}}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  <div class="payment">
    Total Seats = {{ selectedSeats.size }}<br />
    Fare for 1 adult {{ticketPrice}} <br>
    Total Amount = {{ ticketPrice * selectedSeats.size }}
    <button (click)="continue()">Continue</button>
  </div>
</div>
