<h2>Bookings</h2>
<!-- 
{{bookingList | json}} -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Booking Id</th>
      <th scope="col">Date</th>
      <th scope="col">No. of Passengers</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment Status</th>
      <th scope="col">Booking Status</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookingList; let i = index">
      <td>{{ booking.bookingId }}</td>
      <td>{{ booking.bookingDateTime | date}}</td>
      <td>{{ booking.passengers.length }}</td>
      <td>{{ booking.amount | currency : 'INR' : 'symbol'}}</td>
      <td>{{ booking.payments.status }}</td>
      <td>{{ booking.status }}</td>
      <td><button type="button" class="btn btn-info">Modify</button></td>
      <td><button type="button" class="btn btn-danger">Danger</button></td>
    </tr>
  </tbody>
</table>
<mat-paginator
  class="table"
  [pageSize]="5"
  [length]="totalItems"
  showFirstLastButtons
  (page)="onPageChange($event)"></mat-paginator>

