<p>book-flight works!</p>

<div class="container">
  <h2>Review your Journey</h2>
  <br />
  <h4>{{ source }}</h4>
  <br />
  <h4>{{ destination }}</h4>
  <br />

  <button routerLink="/customer/select-seats/{{ this.flightTripId }}">
    Select Seats
  </button>
  {{selectedSeats.size}}
  <div class="login-form form-group">
    <label for="form" *ngIf="selectedSeats.size > 0" >
        <h3>Passenger Information</h3>
    </label>
    <form #formData="ngForm" (ngSubmit)="readFormData(formData.value)">
      <div *ngFor="let seat of selectedSeats">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" name="name" [(ngModel)]="passenger.name" required placeholder="Name"/>
          </div>
          <div class="col">
            <label for="age">Age</label>
            <input type="number" class="form-control" name="age" [(ngModel)]="passenger.age" required placeholder="Age"/>
          </div>
          <div class="col">
            <select class="form-control" name="gender" [(ngModel)]="passenger.gender">
              <option disabled selected>Gender</option>
              <option value="Male">Male</option>
              <option value="Others">Female</option>
              <option value="Female">Others</option>
            </select>
          </div>
          <div class="col">
            <input class="form-control" type="text" name="seatNo" [(ngModel)]="passenger.seatNo" readonly value="{{seat.seatNo}}" >
          </div>
        </div>
      </div>
      <div class="submit" *ngIf="selectedSeats.size > 0">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="formData.invalid  && selectedSeats.size > 0">Continue
        </button>
      </div>
    </form>
  </div>
</div>
